#bighead
	position relative
	width 100%
	margin 0 auto

.first-intro
	position absolute
	width 100%
	top 1%

.second-intro
	position absolute
	width 100%
	top 75%
	
h1.intro
	text-align center

h3.intro
	text-align center

.work
	padding 2% 0
	&-business-insider 
		background-color #306076
		color: #fff
		a 
			color: #ddba00
			&:hover
				color: #fff
	&-supahands
		background-color #6554A4


.work-image
	text-align center
	margin 0 auto
	img
		margin 0 auto
	@media (max-width: 768px)
		margin-top 2%

.work-title
	@media (max-width: 768px)
		text-align center

.unpublished {
  color: #ccc
  &:after {
    content: " (unpublished)";
  }
}