//about
.about-index
  position: relative
  top: 5%
  a:hover
    color: #91d7d3

//work
.layout-work
  p
    max-width: 760px
    margin: 0 auto

//content
.layout-content
  max-width: 760px
.text
  &-center
    text-align: center

//element
.m
  &-top-one
    margin-top: 1rem
  &-top-two
    margin-top: 2rem
  &-top-three
    margin-top: 3rem
  &-bottom-one
    margin-bottom: 1rem
  &-bottom-two
    margin-bottom: 2rem
  &-bottom-three
    margin-bottom: 3rem