header.masthead
	.container			
		#nav
			ul
				li
					a(class="#{ current.path[0] === 'blog' ? 'active' : '' }" href="/blog") Blog
				li
					a(class="#{ current.path[0] === 'about' ? 'active' : '' }" href="/about") About
				li
					a(class="#{ current.path[0] === 'work' ? 'active' : '' }" href="/work") Work

		h1
			a(href='/')= site_title