article.post
	.container
		.row
			.col-xs-12
			!= yield
			!= partial("../_shared/blog-nav")
			if current.source !== 'index'
				!= partial("../_shared/author")
				!= partial("../_shared/disqus")
			else
