article.all
  .container.m-bottom-three
    h1.text-center.lg.title= title
    h2.text-center.sm.date= date
  .layout-work
    != yield
  .container.layout-content
    != partial("../_shared/work-nav")

